/****************** Variables **********************/
$background: #EDE9DD;
$base-color: #222222;
$link-color: #FE8DF2;

/****************** Mobile first **********************/
body {
  background: $background;
  color: $base-color;
  font-family: 'Inter', sans-serif;
  width: 85%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;

    p:first-child {
      margin-right: 1rem;
    }
  }
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
}

h2 {
  display: flex;
  flex-direction: column;
  color: $link-color;
  font-size: 2rem;

  span {
    color: transparent;
    -webkit-text-stroke: 1px $link-color;
  }
}

section {
  margin-top: 10rem;
}

.skills {
  p {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.contact {
  text-align: center;

  a {
    background-color: #222222;
    border-radius: 100%;
    padding: 4.5rem 2rem;
    color: white;
  }
}

footer {
  text-align: center;
  color: rgba($base-color , 0.5);
  margin-top: 8rem;

  a {
    color: $base-color;
  }
}

/****************** Media queries **********************/

@media (min-width: 768px) {
  body {
  width: 700px;
}

section {
  margin-top: 10rem;
}

.col-2 {
  display: flex;

  div {
    width: 50%;

    &:first-child {
      margin-right: 2rem;
    }
  }
}

.skills {
  display: flex;
  justify-content: space-around;

  p {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      background-color: aquamarine;
      color: $link-color;
      -webkit-text-stroke: 1px $base-color;
      text-shadow: 5px 5px 0px $background;
    }
  }
}
}

@media (min-width: 1024px) {
body {
  width: 900px;
}
}
